* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: rgba(0, 0, 0);
  color: #fff;
}

body,
input,
button {
  font-family: "Roboto", sans-serif;
}

button,
.btn {
  transition: all 0.3s linear;
}

ul {
  list-style-type: none;
}

input,
textarea {
  display: block;
}
/* Header */
header {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}
header img {
  cursor: pointer;
  margin: 0 5px;
}

/* Introdução */
#home {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

#home img {
  width: 100%;
  border-radius: 50%;
  max-width: 220px;
}

#home .intro h1 {
  margin: 30px 0 20px 0;
  font-weight: 300;
}

#home .intro h1::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #ed2c59;
  margin: 10px auto;
}

#home .intro p {
  font-size: 16px;
  margin-bottom: 40px;
}

#home .intro ul {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#home .intro i {
  font-size: 30px;
  cursor: pointer;
  margin: 0 10px;
  color: #fff;
}

#home .intro ul li a i:hover {
  color: #ed2c59;
}

#home .btn,
#home .btn i {
  color: #ddd;
  font-size: 12px;
  margin: 0px;
}

#home .btn {
  text-decoration: none;
  border: 2px solid rgba(255, 255, 255, 0.3);
  letter-spacing: 0.2rem;
  padding: 15px 40px;
}

#home .btn:hover {
  border: 2px solid #ed2c59;
}

/* About */
#about {
  background: #fff;
  color: #000;
  padding: 80px 0;
}
#about .about-content,
#formation .formation-and-certificates,
#experience .experiences,
.footer {
  display: block;
  max-width: 850px;
  margin: 0 auto;
}

#about .about-text {
  text-align: center;
}

#about .about-text {
  text-align: center;
}

#about h4,
#formation h4,
#experience h4,
footer h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #ef476f;
}

#about .about-text p {
  max-width: 600px;
  margin: auto;
  margin-bottom: 100px;
}

#about .about-and-skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

#about .about-and-skills .profile li {
  display: flex;
  flex-direction: column;
}

#about .about-and-skills .profile li strong,
#about .about-and-skills .skills ul li strong {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.2rem;
  line-height: 2rem;
}

#about .about-and-skills .profile li span {
  color: #888888;
  margin-bottom: 10px;
  font-size: 14px;
}

#about .about-and-skills .skills ul li .progress {
  background-color: #ddd;
  height: 8px;
  margin-bottom: 30px;
  width: 300px;
}

.percent50,
.percent60,
.percent70,
.percent80,
.percent90,
.percent100 {
  background-color: #ef476f;
  height: 100%;
}

#about .about-and-skills .skills ul li .percent50 {
  width: 50%;
}

#about .about-and-skills .skills ul li .percent60 {
  width: 60%;
}

#about .about-and-skills .skills ul li .percent70 {
  width: 70%;
}

#about .about-and-skills .skills ul li .percent80 {
  width: 80%;
}

#about .about-and-skills .skills ul li .percent90 {
  width: 90%;
}

#about .about-and-skills .skills ul li .percent100 {
  width: 100%;
}

#about .button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
#about button,
.footer input[type="submit"] {
  margin: 0 auto;
  text-transform: uppercase;
  border: none;
  background: #ef476f;
  color: #fff;
  padding: 15px 25px;
  cursor: pointer;
}

#about button:hover,
.footer input[type="submit"]:hover {
  background: #ed2c59;
}

/* Formation and Certificates */
#formation,
#experience {
  display: block;
  margin: 0 auto;
  background: #ebebeb;
  color: #000;
  padding: 80px 0 40px 0;
}

#formation h3,
#experience h3 {
  margin: 20px 0;
  color: #313131;
}
#formation i,
#experience i,
#formation p,
#experience p {
  color: #6e6e6e;
}

#formation .formation-and-certificates div,
#experience .experiences div {
  margin-bottom: 40px;
}

/* Professional Experiences */
#experience {
  background: #fff;
  color: #000;
}

#experience .experiences div {
  margin-bottom: 30px;
}

#experience p {
  margin-bottom: 10px;
}

/* Footer */
footer {
  position: relative;
  bottom: 0;
  background: #000;
  width: 100%;
  text-align: center;
  padding-top: 100px;
}

footer .more,
footer .contact-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.footer i {
  color: #ed2c59;
  font-size: 40px;
  margin: 20px 0;
}

.footer h3 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 16px;
}

.footer p {
  margin-top: 10px;
}

.footer .contact {
  margin: 150px auto;
}

.footer .contact form {
  display: block;
  padding: 0 80px;
}

input[type="text"],
textarea {
  color: rgba(255, 255, 255, 0.7);
  outline: none;
  font-size: 14px;
  line-height: 2rem;
  background: transparent;
  border: 0;
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

textarea {
  max-width: 100%;
  height: 180px;
}

input[type="submit"] {
  margin-top: 60px !important;
}

.footer .contact-info {
  margin-bottom: 100px;
}
.footer .contact-info h3 {
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  /* Header */
  header {
    justify-content: flex-end;
    margin: 20px 50px;
  }

  /* Introdução */
  #home {
    height: 100%;
  }

  #home img {
    max-width: 150px;
  }

  #home .intro p {
    font-size: 14px;
    margin-bottom: 20px;
  }

  #home .intro i {
    font-size: 25px;
  }

  #home .btn,
  #home .btn i {
    font-size: 12px;
  }

  #home .btn {
    padding: 10px 30px;
  }

  /* About */
  #about {
    padding: 40px 0;
  }
  #about .about-content {
    max-width: 100%;
    margin: 0 20px;
  }

  #about h4,
  #formation h4,
  #experience h4,
  footer h4 {
    margin: 50px 0 20px 0;
  }

  #about .about-text p {
    max-width: 100%;
    margin-bottom: 0;
  }

  #about .about-and-skills {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #about .about-and-skills .skills ul li .progress {
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 250px;
  }

  /* Formation and Certificates */
  #formation,
  #experience {
    padding: 40px;
  }

  #formation h3,
  #experience h3 {
    margin: 10px 0;
  }

  #formation .formation-and-certificates div,
  #experience .experiences div {
    margin-bottom: 25px;
  }

  /* Footer */
  footer {
    padding-top: 60px;
  }

  footer .more,
  footer .contact-info {
    display: block;
  }

  .footer i {
    font-size: 35px;
  }

  .footer h3 {
    font-size: 14px;
  }

  .footer p {
    margin-top: 10px;
    font-size: 14px;
  }

  .footer .contact {
    margin: 60px auto;
  }

  .footer .contact form {
    display: block;
    padding: 0 40px;
  }

  input[type="submit"] {
    margin-top: 30px !important;
  }

  .footer .contact-info {
    margin-bottom: 60px;
  }
}
